/* styles/globals.css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para as imagens das alianças */
.alianca-thumbnail {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.alianca-thumbnail:hover {
  transform: scale(1.1);
  filter: none;
}
